<div class="conntainer">
<div class="div">
    <div class="col-12">
        <h3>Liste der Zutaten</h3>
    </div>
    <div class="col-12">
        <div class="card mb-1">
            <div class="card-body">
                <div class="row">
                    <div class="col-8">
                        <h5 class="card-title">Absinth</h5>
                    </div>
                    <div class="col-4">
                        <span class="float-right">
                        <span class="border my-1 p-1">
                            <input type="checkbox">"zu Hause"
                        </span>
                    </span>
                    </div>
                </div>
                <h6 class="card-subtitile mb-2 text-muted">(J) 36</h6>
            <div class="card-text"></div>
            <p>Absinth, auch Absinthe oder Wermutspirituose genannt, ist ein alkoholisches Getränk, das traditionell aus Wermut,
                 Anis, Fenchel, einer je nach Rezeptur unterschiedlichen Reihe weiterer Kräuter sowie Alkohol hergestellt wird.
                 Die meisten Absinthmarken sind grün, daher wird Absinth auch „Die grüne Fee“ genannt. [Wikipedia]</p>    
            </div>
        </div>
    </div>
</div>

  <!--Impressum-->
  <div class="row">
    <div class="col-12">
      <hr/>
      <a class="nav-link" [routerLink]="'/impressum'">Impressum</a>    
    </div>
  </div>
</div>